@font-face {
  font-family: 'AvenirNext';
  src: url('./Font/avenirnext/AvenirNextLTPro-Heavy.otf') format("truetype");
  font-weight: 600;
  src: url('./Font/avenirnext/AvenirNextLTPro-Bold.otf') format("truetype");
  font-weight: 550;
  src: url('./Font/avenirnext/AvenirNextLTPro-It.otf') format("truetype");
  font-weight: 500;
  src: url('./Font/avenirnext/AvenirNextLTPro-Regular.otf') format("truetype");
  font-weight: 400;
  src: url('./Font/avenirnext/AvenirNextLTPro-Medium.otf') format("truetype");
  font-weight: 200;
  src: url('./Font/avenirnext/AvenirNextLTPro-UltLt.otf') format("truetype");
  font-weight: 100;


}

// @font-face {
//     font-family: 'Bloomsbury';
//     src: url('./Font/Bloomsbury-Serif.otf') format("truetype");
//     font-weight: 100;
//     src:url('./Font/Bloomsbury-Script.otf') format("truetype");
//     font-weight: 200;
//     src: url('./Font/Bloomsbury-Sans.otf') format("truetype");
//     font-weight: 300;
// }
