.Projet {

  width: 100%;

    &__row {
      width: 90%;
      margin: auto;
      margin-top: 30px;
      font-family: 'Bloomsbury';
      font-weight: 300;
    }

    &__number {
      position: relative;
      color: #F5A623;
      font-size: 23vh;
      left: 0;
    }

    &__title {
    color: #fff;
    position: absolute;
    font-size: 6vh;
    text-align: left;
    margin-top: -40px;
    }

    &__text-article {
      text-align: justify;
      margin-top: 40px;
      font-family: "Avenir Next";
      font-size: 20px;
      color: #fff;
    }

    &__arrow-container {
      width: 100%;
      text-align: right;
    }

    &__arrow {
      width: 20px;
    }


    &__img-container {
      margin-top: 40px;
      width: 90%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      @include for-size('tablet-portrait-up') {
        height: 800px;
      }
    }


    &__img-twitter {
    width: 100%;
    -webkit-transition: 0.275s ease-in-out;
    transition: 0.275s ease-in-out;
    }

    &__img-twitter:hover {
      -webkit-transition: 0.275s ease-in-out;
      transition: 0.275s ease-in-out;
      transform: scale(1.1);
    }

}
